.content {
    grid-area: c;
    background-color: burlywood;
}

.item {
    color: darkslateblue;
}

.postsBlock {
    padding: 30px;
}

.postsBlock textarea {
    border-radius: 4px;
}

.posts {
    margin-top: 10px;
    font-family: Montserrat;
    padding-bottom: 10px;
}

.newPost {
    margin-bottom: 10px;
}

.postButton {
    font-family: Montserrat;
    width: 80px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: #ebf2fa;
    color: #3770c1;
   margin-top: 10px;
}

.postButton:hover {
    background-color: #e2ecfc;
}