.nav {
    padding: 20px;
}

.item {
    font-family: Montserrat;
    color: #6d6d6d;
    text-decoration: none;
}

.active {
    font-family: Montserrat;
    color: black ;
    text-decoration: none;
}
