.nav {
    grid-area: n;
    background-color: antiquewhite;
    padding: 20px;
}

.item {
    color: cornflowerblue ;
    text-decoration: none;
}

.active {
    color: darkslateblue ;
    text-decoration: none;
}
