.content {
    grid-area: c;
    background-color: burlywood;
}

.item {
    color: darkslateblue;
    font-family: Montserrat;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.postPhoto {

}