.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialog {

}

.dialogsItem {
    padding: 10px;
    color: black ;
}

.active {
    color: darkslateblue;
}

.messages {
    padding: 10px;
}

.messages .message {

}

.sendMessage {

}


